*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  background-color: #FD6E0A;
  color: whitesmoke;
  border: none;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.text-center{
  text-align: center;
}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}

.section-heading p{
  font-size: 18px;
  font-weight: 30;
  color: #757575;
  margin-bottom: 30px;
}

/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
}

#letter{
  color: #FD6E0A;
}

nav .menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 51px;

}

nav .menu a{
  text-decoration: none;
  font-size: 20px;
  
  color: #474747;
}

#banner{
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content{
  max-width: 585px;
}

#banner .banner-content h2{
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;
}

c
#about .about-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
  border-radius: 5px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
 }

 .about-info .info-card h4{
  font-size: 20px;
   line-height: 30px;
  color: #1E1E1E;
 }

 

 #skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
 }

 #skills .skills-container .skill-box{
  display: flex;
  gap: 24px;
 }

  .skill-box .skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000041;
    max-width: 267px;
  }

  .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
  }

  .skill-card h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #181818
  }

  .skill-card p {
    font-size: 16px;
    color: #757575;
    text-align: left;
    line-height: 28px;
  }

  #resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
  }

  .resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
  }

  .resume-card{
    max-width: 511px;
    margin-right: 47px;
  }

  .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#474747
  }

  .resume-card .card-info{
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
  }

   .resume-card .card-text{
    font-size: 16px;
    margin-bottom: 30px;
    color: #757575;
  }

  .resume-container hr{
    margin: 30px 0;
  }

  footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
  }

  footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
  }

  .footer-container .social{
    max-width: 562px;
  }

  .footer-container h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
  }

  .footer-container .icons img{
    margin-right: 24px;
  }

  .footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #757575;
  }

  .hide{
    display: none !important;
  }

  @media  screen and (max-width: 576px) {
    #about, #skills, #resume{
    margin-top: 60px;
    }

  }


  
